In [15]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import spacy
import re
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
from selenium import webdriver
from googlesearch import search

In [16]:
df = pd.read_csv("/Users/jacobnyamu/Desktop/Spring 2023/Advanced Programming - Python/NTerprisers /100 Corporations.csv")

In [17]:
df.pop('EntityTypeDescriptor')

0      Domestic Profit Corporation
1      Domestic Profit Corporation
2      Domestic Profit Corporation
3      Domestic Profit Corporation
4      Domestic Profit Corporation
                  ...
95    Domestic Benefit Corporation
96    Domestic Benefit Corporation
97    Domestic Benefit Corporation
98    Domestic Benefit Corporation
99    Domestic Benefit Corporation
Name: EntityTypeDescriptor, Length: 100, dtype: object

In [18]:
df.head()

                                 entityname
0                   THE DOVER HOLDINGS, INC
1            JASON M. CHARETTE AGENCY, INC.
2  PATHWAY DRUG DEVELOPMENT CONSULTING INC.
3                       MARTY'S LOCAL, INC.
4                         WARNER FARM, INC.

In [19]:
df2 = df.truncate(before=0, after=21)

In [20]:
df2.head(26)

                                   entityname
0                     THE DOVER HOLDINGS, INC
1              JASON M. CHARETTE AGENCY, INC.
2    PATHWAY DRUG DEVELOPMENT CONSULTING INC.
3                         MARTY'S LOCAL, INC.
4                           WARNER FARM, INC.
5                  CRAFTWAY CONTRACTING, INC.
6                       TINY SPOON CHEF, INC.
7   COMMUNITY BANCORP OF THE BERKSHIRES, INC.
8                           SURGO CORPORATION
9                 HATFIELD CONSTRUCTION, INC.
10                                SCOPIC, INC
11                         DUBBYA DIESEL, INC
12            RELATIONAL LIFE INSTITUTE, INC.
13                 LOCAL FLOW LOGISTICS, INC.
14                     HUGE REAL ESTATE, INC.
15                        MJK TAEKWONDO, INC.
16                     MAY TAX SERVICES, INC.
17   ARCADIA PROFESSIONAL BODY PIERCING, INC.
18                   APEX BAR AND LOUNGE INC.
19                       EESCO HOLDINGS, INC.
20                  VESTA RP DEVELOPMENT, INC
21                    MENG'S ENTERPRISES CORP

In [21]:
# Iterate over each row in the data frame, perform a Google search using the row data, and print the URL of the top result    
table = []
for index, row in df2.iterrows():
    query = row['entityname'] 
    result = next(search(query, num_results=1, sleep_interval=0.5), None)
    if result:
        print(f"{index}: '{query}' found at '{result}'")
        table.append([query, result])

0: 'THE DOVER HOLDINGS, INC' found at 'https://www.dovercorporation.com/'
1: 'JASON M. CHARETTE AGENCY, INC.' found at 'https://mlagents.americannational.com/jasoncharette-8096/'
2: 'PATHWAY DRUG DEVELOPMENT CONSULTING INC.' found at 'https://opencorporates.com/companies/us_ma/001477985'
3: 'MARTY'S LOCAL, INC.' found at 'https://www.martyslocal.com/'
4: 'WARNER FARM, INC.' found at 'https://www.warnerfarm.com/'
5: 'CRAFTWAY CONTRACTING, INC.' found at 'https://www.craftwaygroup.com/'
6: 'TINY SPOON CHEF, INC.' found at 'https://www.tinyspoonchef.com/'
7: 'COMMUNITY BANCORP OF THE BERKSHIRES, INC.' found at 'https://services.oca.state.ma.us/LicenseeLookup/in-choose-activities.asp?certno=90140'
8: 'SURGO CORPORATION' found at 'https://surgoventures.org/'
9: 'HATFIELD CONSTRUCTION, INC.' found at 'https://www.hatfieldconstructionllc.com/'
10: 'SCOPIC, INC' found at 'https://scopicsoftware.com/'
11: 'DUBBYA DIESEL, INC' found at 'https://www.facebook.com/people/Dubbya-Diesel-LLC/100057494527463/'
12: 'RELATIONAL LIFE INSTITUTE, INC.' found at 'https://relationallife.com/'
13: 'LOCAL FLOW LOGISTICS, INC.' found at 'https://localflowlogistics.com/'
14: 'HUGE REAL ESTATE, INC.' found at 'https://www.hugerea.com/'
15: 'MJK TAEKWONDO, INC.' found at 'https://opencorporates.com/companies/us_ma/001418363'
16: 'MAY TAX SERVICES, INC.' found at 'https://www.maytaxservices.com/'
17: 'ARCADIA PROFESSIONAL BODY PIERCING, INC.' found at 'https://www.arcadiabodypiercing.com/'
18: 'APEX BAR AND LOUNGE INC.' found at 'https://bostonrestaurants.blogspot.com/2022/05/apex-bar-and-lounge-to-open-in-bostons.html'
19: 'EESCO HOLDINGS, INC.' found at 'https://eescousa.com/'
20: 'VESTA RP DEVELOPMENT, INC' found at 'https://vestarp.com/'
21: 'MENG'S ENTERPRISES CORP' found at 'https://opencorporates.com/companies/us_ma/001479186'

In [22]:
urls = pd.DataFrame(table)

In [23]:
urls.head(20)

,0,1
0,"THE DOVER HOLDINGS, INC",https://www.dovercorporation.com/
1,"JASON M. CHARETTE AGENCY, INC.",https://mlagents.americannational.com/jasoncha...
2,PATHWAY DRUG DEVELOPMENT CONSULTING INC.,https://opencorporates.com/companies/us_ma/001...
3,"MARTY'S LOCAL, INC.",https://www.martyslocal.com/
4,"WARNER FARM, INC.",https://www.warnerfarm.com/
5,"CRAFTWAY CONTRACTING, INC.",https://www.craftwaygroup.com/
6,"TINY SPOON CHEF, INC.",https://www.tinyspoonchef.com/
7,"COMMUNITY BANCORP OF THE BERKSHIRES, INC.",https://services.oca.state.ma.us/LicenseeLooku...
8,SURGO CORPORATION,https://surgoventures.org/
9,"HATFIELD CONSTRUCTION, INC.",https://www.hatfieldconstructionllc.com/
10,"SCOPIC, INC",https://scopicsoftware.com/
11,"DUBBYA DIESEL, INC",https://www.facebook.com/people/Dubbya-Diesel-...
12,"RELATIONAL LIFE INSTITUTE, INC.",https://relationallife.com/
13,"LOCAL FLOW LOGISTICS, INC.",https://localflowlogistics.com/
14,"HUGE REAL ESTATE, INC.",https://www.hugerea.com/
15,"MJK TAEKWONDO, INC.",https://opencorporates.com/companies/us_ma/001...
16,"MAY TAX SERVICES, INC.",https://www.maytaxservices.com/
17,"ARCADIA PROFESSIONAL BODY PIERCING, INC.",https://www.arcadiabodypiercing.com/
18,APEX BAR AND LOUNGE INC.,https://bostonrestaurants.blogspot.com/2022/05...
19,"EESCO HOLDINGS, INC.",https://eescousa.com/

In [24]:
urls.set_axis(['Business', 'URL'], axis='columns', inplace=True)

/var/folders/th/00nvfm0d5qg4prl9hls6qx340000gn/T/ipykernel_18596/4196423623.py:1: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  urls.set_axis(['Business', 'URL'], axis='columns', inplace=True)

In [25]:
urls.head()

,Business,URL
0,"THE DOVER HOLDINGS, INC",https://www.dovercorporation.com/
1,"JASON M. CHARETTE AGENCY, INC.",https://mlagents.americannational.com/jasoncha...
2,PATHWAY DRUG DEVELOPMENT CONSULTING INC.,https://opencorporates.com/companies/us_ma/001...
3,"MARTY'S LOCAL, INC.",https://www.martyslocal.com/
4,"WARNER FARM, INC.",https://www.warnerfarm.com/

In [26]:
# Defining keywords related to manufacturing
keywords = [
    "manufacturing", "production", "factory", "industry", "industrial", "machinery",
    "assembly", "fabrication", "plant", "workshop", "process", "machining",
    "milling", "turning", "forging", "casting", "molding", "extrusion",
    "welding", "cutting", "grinding", "lathing", "drilling", "pressing",
    "forming", "stamping", "additive", "3D printing", "injection molding",
    "blow molding", "rotational molding", "thermoforming", "vacuum forming",
    "die casting", "sand casting", "investment casting", "lost-wax casting",
    "cold rolling", "hot rolling", "slitting", "annealing", "heat treatment",
    "sheet metal", "metallurgy", "electroplating", "galvanizing", "coating",
    "powder coating", "anodizing", "painting", "finishing", "quality control",
    "CNC", "computer numerical control", "tooling", "fixtures", "jigs",
    "material handling", "automation", "robotics", "conveyor", "packaging",
    "lean manufacturing", "just-in-time", "six sigma", "continuous improvement",
    "mass production", "batch production", "job production", "assembling",
    "subassembly", "raw material", "work in progress", "finished goods",
    "inventory", "supply chain", "logistics", "procurement", "sourcing",
    "OEM", "original equipment manufacturer", "contract manufacturing",
    "outsourcing", "offshoring", "ISO 9001", "ISO 14001", "quality management",
    "environmental management", "safety", "compliance", "regulation"
]

In [27]:
# Load the spaCy model
nlp = spacy.load("en_core_web_sm")

# Clean the text by removing unnecessary characters
def clean_text(text):
    text = re.sub(r'\s+', ' ', text)
    return text.strip()

# Scrape the website and extract the text
def scrape_website(url):
    try:
        response = requests.get(url)
        response.raise_for_status()

        soup = BeautifulSoup(response.text, "html.parser")
        texts = ' '.join([clean_text(p.text) for p in soup.find_all('p')])

        return texts
    except requests.exceptions.RequestException as e:
        print(f"Error: {e}")
        return ""

# Check if the website is related to manufacturing
def is_manufacturing_website(text, keywords):
    doc = nlp(text.lower())

    for keyword in keywords:
        if keyword in doc.text:
            return True

    return False

# Creating an empty list to store the results
results = [] 
    
for website in urls.URL:
    text = scrape_website(website)
    if is_manufacturing_website(text, keywords):
        result = {"Business": urls.Business, "Manufacturing": True}
    else:
        result = {"Business": urls.Business, "Manufacturing": False}
    results.append(result)

        
urls_verified = pd.DataFrame(results)

Error: HTTPSConnectionPool(host='opencorporates.com', port=443): Max retries exceeded with url: /companies/us_ma/001477985 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7fb8782a9180>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known'))
Error: HTTPSConnectionPool(host='opencorporates.com', port=443): Max retries exceeded with url: /companies/us_ma/001418363 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7fb8a0750760>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known'))
Error: HTTPSConnectionPool(host='opencorporates.com', port=443): Max retries exceeded with url: /companies/us_ma/001479186 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7fb878204880>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known'))

In [28]:
urls_verified.head(30)

                                             Business  Manufacturing
0   0                       THE DOVER HOLDINGS, IN...           True
1   0                       THE DOVER HOLDINGS, IN...           True
2   0                       THE DOVER HOLDINGS, IN...          False
3   0                       THE DOVER HOLDINGS, IN...           True
4   0                       THE DOVER HOLDINGS, IN...          False
5   0                       THE DOVER HOLDINGS, IN...          False
6   0                       THE DOVER HOLDINGS, IN...          False
7   0                       THE DOVER HOLDINGS, IN...          False
8   0                       THE DOVER HOLDINGS, IN...          False
9   0                       THE DOVER HOLDINGS, IN...           True
10  0                       THE DOVER HOLDINGS, IN...           True
11  0                       THE DOVER HOLDINGS, IN...          False
12  0                       THE DOVER HOLDINGS, IN...          False
13  0                       THE DOVER HOLDINGS, IN...           True
14  0                       THE DOVER HOLDINGS, IN...          False
15  0                       THE DOVER HOLDINGS, IN...          False
16  0                       THE DOVER HOLDINGS, IN...           True
17  0                       THE DOVER HOLDINGS, IN...           True
18  0                       THE DOVER HOLDINGS, IN...          False
19  0                       THE DOVER HOLDINGS, IN...          False
20  0                       THE DOVER HOLDINGS, IN...          False
21  0                       THE DOVER HOLDINGS, IN...          False