In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import spacy
import re
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
from selenium import webdriver
from googlesearch import search

In [2]:
df = pd.read_csv("/Users/jacobnyamu/Desktop/Spring 2023/Advanced Programming - Python/NTerprisers /100 Corporations.csv")

In [3]:
df.pop('EntityTypeDescriptor')

0      Domestic Profit Corporation
1      Domestic Profit Corporation
2      Domestic Profit Corporation
3      Domestic Profit Corporation
4      Domestic Profit Corporation
                  ...
95    Domestic Benefit Corporation
96    Domestic Benefit Corporation
97    Domestic Benefit Corporation
98    Domestic Benefit Corporation
99    Domestic Benefit Corporation
Name: EntityTypeDescriptor, Length: 100, dtype: object

In [4]:
df.head()

                                 entityname
0                   THE DOVER HOLDINGS, INC
1            JASON M. CHARETTE AGENCY, INC.
2  PATHWAY DRUG DEVELOPMENT CONSULTING INC.
3                       MARTY'S LOCAL, INC.
4                         WARNER FARM, INC.

In [5]:
df2 = df.truncate(before=0, after=21)

In [6]:
df2.head(26)

                                   entityname
0                     THE DOVER HOLDINGS, INC
1              JASON M. CHARETTE AGENCY, INC.
2    PATHWAY DRUG DEVELOPMENT CONSULTING INC.
3                         MARTY'S LOCAL, INC.
4                           WARNER FARM, INC.
5                  CRAFTWAY CONTRACTING, INC.
6                       TINY SPOON CHEF, INC.
7   COMMUNITY BANCORP OF THE BERKSHIRES, INC.
8                           SURGO CORPORATION
9                 HATFIELD CONSTRUCTION, INC.
10                                SCOPIC, INC
11                         DUBBYA DIESEL, INC
12            RELATIONAL LIFE INSTITUTE, INC.
13                 LOCAL FLOW LOGISTICS, INC.
14                     HUGE REAL ESTATE, INC.
15                        MJK TAEKWONDO, INC.
16                     MAY TAX SERVICES, INC.
17   ARCADIA PROFESSIONAL BODY PIERCING, INC.
18                   APEX BAR AND LOUNGE INC.
19                       EESCO HOLDINGS, INC.
20                  VESTA RP DEVELOPMENT, INC

In [7]:
# Iterate over each row in the data frame, perform a Google search using the row data, and print the URL of the top result
i = 0
table = []
for index, row in df2.iterrows():
    query = row['entityname']  # Replace 'Search Query' with the name of the column containing the search queries
    for result in search(query, num_results=1, sleep_interval=0.5):
        i += 1
        print(f"{index}, {i}: '{query}' found at '{result}'") 
        table.append([query, result])
    
# print(table)

0, 1: 'THE DOVER HOLDINGS, INC' found at 'https://www.dovercorporation.com/'
0, 2: 'THE DOVER HOLDINGS, INC' found at 'https://opencorporates.com/companies/ca_ns/3253172'
0, 3: 'THE DOVER HOLDINGS, INC' found at 'https://www.dnb.com/business-directory/company-profiles.dover_global_holdings_inc.3192fc2f1c6a1dd69d8cf7adea9cf757.html'
1, 4: 'JASON M. CHARETTE AGENCY, INC.' found at 'https://mlagents.americannational.com/jasoncharette-8096/'
1, 5: 'JASON M. CHARETTE AGENCY, INC.' found at 'https://www.linkedin.com/in/jason-m-charette-cic-lutcf-34047657'
1, 6: 'JASON M. CHARETTE AGENCY, INC.' found at 'https://business.newburyportchamber.org/members/member/jason-m-charette-agency-american-national-insurance-7748'
2, 7: 'PATHWAY DRUG DEVELOPMENT CONSULTING INC.' found at 'https://opencorporates.com/companies/us_ma/001477985'
2, 8: 'PATHWAY DRUG DEVELOPMENT CONSULTING INC.' found at 'https://www.linkedin.com/company/vanadro-drug-development-consulting'
2, 9: 'PATHWAY DRUG DEVELOPMENT CONSULTING INC.' found at 'https://www.quotientsciences.com/what-we-do/tailored-services/drug-development-consulting/'
3, 10: 'MARTY'S LOCAL, INC.' found at 'https://www.martyslocal.com/'
3, 11: 'MARTY'S LOCAL, INC.' found at 'https://www.martyslocal.com/'
4, 12: 'WARNER FARM, INC.' found at 'https://www.warnerfarm.com/'
5, 13: 'CRAFTWAY CONTRACTING, INC.' found at 'https://www.craftwaygroup.com/'
5, 14: 'CRAFTWAY CONTRACTING, INC.' found at 'https://www.zoominfo.com/c/craftway-contracting/398572246'
6, 15: 'TINY SPOON CHEF, INC.' found at 'https://www.tinyspoonchef.com/'
6, 16: 'TINY SPOON CHEF, INC.' found at 'https://www.tinyspoonchef.com/'
7, 17: 'COMMUNITY BANCORP OF THE BERKSHIRES, INC.' found at 'https://services.oca.state.ma.us/LicenseeLookup/in-choose-activities.asp?certno=90140'
7, 18: 'COMMUNITY BANCORP OF THE BERKSHIRES, INC.' found at 'https://www.berkshireeagle.com/business/adams-community-bank-changing-business-model/article_aa2af08e-efce-11eb-9cf5-2b2fd9a71e56.html'
7, 19: 'COMMUNITY BANCORP OF THE BERKSHIRES, INC.' found at 'https://www.berkshirebank.com/About/Community/Community-Support'
8, 20: 'SURGO CORPORATION' found at 'https://surgoventures.org/'
8, 21: 'SURGO CORPORATION' found at 'https://www.surgohealth.com/'
9, 22: 'HATFIELD CONSTRUCTION, INC.' found at 'https://www.hatfieldconstructionllc.com/'
10, 23: 'SCOPIC, INC' found at 'https://scopicsoftware.com/'
10, 24: 'SCOPIC, INC' found at 'https://www.linkedin.com/company/scopic-software'
11, 25: 'DUBBYA DIESEL, INC' found at 'https://www.facebook.com/people/Dubbya-Diesel-LLC/100057494527463/'
11, 26: 'DUBBYA DIESEL, INC' found at 'https://www.manta.com/c/mk1m3pf/dubbya-diesel-llc'
12, 27: 'RELATIONAL LIFE INSTITUTE, INC.' found at 'https://relationallife.com/'
12, 28: 'RELATIONAL LIFE INSTITUTE, INC.' found at 'https://terryreal.com/'
13, 29: 'LOCAL FLOW LOGISTICS, INC.' found at 'https://localflowlogistics.com/'
13, 30: 'LOCAL FLOW LOGISTICS, INC.' found at 'https://www.houzz.com/professionals/interior-decorators/local-flow-logistics-llc-pfvwus-pf~1512468522'
13, 31: 'LOCAL FLOW LOGISTICS, INC.' found at 'https://www.zoominfo.com/c/local-flow-logistics/451559041'
14, 32: 'HUGE REAL ESTATE, INC.' found at 'https://www.hugerea.com/'
14, 33: 'HUGE REAL ESTATE, INC.' found at 'https://www.linkedin.com/in/mark-hume-6917188b'
14, 34: 'HUGE REAL ESTATE, INC.' found at 'https://www.upnest.com/1/post/biggest-real-estate-companies/'
15, 35: 'MJK TAEKWONDO, INC.' found at 'https://opencorporates.com/companies/us_ma/001418363'
15, 36: 'MJK TAEKWONDO, INC.' found at 'https://winnie.com/place/mjk-taekwondo-chicopee'
16, 37: 'MAY TAX SERVICES, INC.' found at 'https://www.maytaxservices.com/'
16, 38: 'MAY TAX SERVICES, INC.' found at 'https://medfieldmemo.org/directory/name/may-tax-services-inc/'
17, 39: 'ARCADIA PROFESSIONAL BODY PIERCING, INC.' found at 'https://www.arcadiabodypiercing.com/'
17, 40: 'ARCADIA PROFESSIONAL BODY PIERCING, INC.' found at 'https://www.instagram.com/arcadiabodypiercing/?hl=en'
18, 41: 'APEX BAR AND LOUNGE INC.' found at 'https://bostonrestaurants.blogspot.com/2022/05/apex-bar-and-lounge-to-open-in-bostons.html'
18, 42: 'APEX BAR AND LOUNGE INC.' found at 'https://twitter.com/titojackson/status/1461350071014871041?lang=en'
18, 43: 'APEX BAR AND LOUNGE INC.' found at 'https://www.facebook.com/titojacksonboston/?locale=sv_SE'
19, 44: 'EESCO HOLDINGS, INC.' found at 'https://eescousa.com/'
19, 45: 'EESCO HOLDINGS, INC.' found at 'https://buy.eescodist.com/'
20, 46: 'VESTA RP DEVELOPMENT, INC' found at 'https://vestarp.com/'
20, 47: 'VESTA RP DEVELOPMENT, INC' found at 'https://vestarp.com/'

In [8]:
urls = pd.DataFrame(table)

In [9]:
urls.head(20)

,0,1
0,"THE DOVER HOLDINGS, INC",https://www.dovercorporation.com/
1,"THE DOVER HOLDINGS, INC",https://opencorporates.com/companies/ca_ns/325...
2,"THE DOVER HOLDINGS, INC",https://www.dnb.com/business-directory/company...
3,"JASON M. CHARETTE AGENCY, INC.",https://mlagents.americannational.com/jasoncha...
4,"JASON M. CHARETTE AGENCY, INC.",https://www.linkedin.com/in/jason-m-charette-c...
5,"JASON M. CHARETTE AGENCY, INC.",https://business.newburyportchamber.org/member...
6,PATHWAY DRUG DEVELOPMENT CONSULTING INC.,https://opencorporates.com/companies/us_ma/001...
7,PATHWAY DRUG DEVELOPMENT CONSULTING INC.,https://www.linkedin.com/company/vanadro-drug-...
8,PATHWAY DRUG DEVELOPMENT CONSULTING INC.,https://www.quotientsciences.com/what-we-do/ta...
9,"MARTY'S LOCAL, INC.",https://www.martyslocal.com/
10,"MARTY'S LOCAL, INC.",https://www.martyslocal.com/
11,"WARNER FARM, INC.",https://www.warnerfarm.com/
12,"CRAFTWAY CONTRACTING, INC.",https://www.craftwaygroup.com/
13,"CRAFTWAY CONTRACTING, INC.",https://www.zoominfo.com/c/craftway-contractin...
14,"TINY SPOON CHEF, INC.",https://www.tinyspoonchef.com/
15,"TINY SPOON CHEF, INC.",https://www.tinyspoonchef.com/
16,"COMMUNITY BANCORP OF THE BERKSHIRES, INC.",https://services.oca.state.ma.us/LicenseeLooku...
17,"COMMUNITY BANCORP OF THE BERKSHIRES, INC.",https://www.berkshireeagle.com/business/adams-...
18,"COMMUNITY BANCORP OF THE BERKSHIRES, INC.",https://www.berkshirebank.com/About/Community/...
19,SURGO CORPORATION,https://surgoventures.org/

In [28]:
urls.set_axis(['Business', 'URL'], axis='columns', inplace=True)

/var/folders/th/00nvfm0d5qg4prl9hls6qx340000gn/T/ipykernel_17171/4196423623.py:1: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  urls.set_axis(['Business', 'URL'], axis='columns', inplace=True)

In [29]:
urls.head()

,Business,URL
0,"THE DOVER HOLDINGS, INC",https://www.dovercorporation.com/
1,"THE DOVER HOLDINGS, INC",https://opencorporates.com/companies/ca_ns/325...
2,"THE DOVER HOLDINGS, INC",https://www.dnb.com/business-directory/company...
3,"JASON M. CHARETTE AGENCY, INC.",https://mlagents.americannational.com/jasoncha...
4,"JASON M. CHARETTE AGENCY, INC.",https://www.linkedin.com/in/jason-m-charette-c...

In [30]:
# Defining keywords related to manufacturing
keywords = [
    "manufacturing", "production", "factory", "industry", "industrial", "machinery",
    "assembly", "fabrication", "plant", "workshop", "process", "machining",
    "milling", "turning", "forging", "casting", "molding", "extrusion",
    "welding", "cutting", "grinding", "lathing", "drilling", "pressing",
    "forming", "stamping", "additive", "3D printing", "injection molding",
    "blow molding", "rotational molding", "thermoforming", "vacuum forming",
    "die casting", "sand casting", "investment casting", "lost-wax casting",
    "cold rolling", "hot rolling", "slitting", "annealing", "heat treatment",
    "sheet metal", "metallurgy", "electroplating", "galvanizing", "coating",
    "powder coating", "anodizing", "painting", "finishing", "quality control",
    "CNC", "computer numerical control", "tooling", "fixtures", "jigs",
    "material handling", "automation", "robotics", "conveyor", "packaging",
    "lean manufacturing", "just-in-time", "six sigma", "continuous improvement",
    "mass production", "batch production", "job production", "assembling",
    "subassembly", "raw material", "work in progress", "finished goods",
    "inventory", "supply chain", "logistics", "procurement", "sourcing",
    "OEM", "original equipment manufacturer", "contract manufacturing",
    "outsourcing", "offshoring", "ISO 9001", "ISO 14001", "quality management",
    "environmental management", "safety", "compliance", "regulation"
]

In [41]:
# Load the spaCy model
nlp = spacy.load("en_core_web_sm")

# Clean the text by removing unnecessary characters
def clean_text(text):
    text = re.sub(r'\s+', ' ', text)
    return text.strip()

# Scrape the website and extract the text
def scrape_website(url):
    try:
        response = requests.get(url)
        response.raise_for_status()

        soup = BeautifulSoup(response.text, "html.parser")
        texts = ' '.join([clean_text(p.text) for p in soup.find_all('p')])

        return texts
    except requests.exceptions.RequestException as e:
        print(f"Error: {e}")
        return ""

# Check if the website is related to manufacturing
def is_manufacturing_website(text, keywords):
    doc = nlp(text.lower())

    for keyword in keywords:
        if keyword in doc.text:
            return True

    return False

# Creating an empty list to store the results
results = [] 
    
for website in urls.URL:
    text = scrape_website(website)
    if is_manufacturing_website(text, keywords):
        result = {"Business": urls.Business, "Manufacturing": True}
    else:
        result = {"Business": urls.Business, "Manufacturing": False}
    results.append(result)

        
urls_verified = pd.DataFrame(results)

Error: HTTPSConnectionPool(host='opencorporates.com', port=443): Max retries exceeded with url: /companies/ca_ns/3253172 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f9d83cc5330>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known'))
Error: 403 Client Error: Forbidden for url: https://www.dnb.com/business-directory/company-profiles.dover_global_holdings_inc.3192fc2f1c6a1dd69d8cf7adea9cf757.html
Error: HTTPSConnectionPool(host='opencorporates.com', port=443): Max retries exceeded with url: /companies/us_ma/001477985 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f9d86913160>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known'))
Error: 429 Client Error: Too Many Requests for url: https://www.zoominfo.com/c/craftway-contracting/398572246
Error: 403 Client Error: Forbidden for url: https://www.manta.com/c/mk1m3pf/dubbya-diesel-llc
Error: 429 Client Error: Too Many Requests for url: https://www.zoominfo.com/c/local-flow-logistics/451559041
Error: HTTPSConnectionPool(host='opencorporates.com', port=443): Max retries exceeded with url: /companies/us_ma/001418363 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f9d838f5e70>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known'))
Error: 403 Client Error: Forbidden for url: https://winnie.com/place/mjk-taekwondo-chicopee
Error: 403 Client Error: Forbidden for url: https://medfieldmemo.org/directory/name/may-tax-services-inc/

In [44]:
urls_verified.head(30)

                                             Business  Manufacturing
0   0                       THE DOVER HOLDINGS, IN...           True
1   0                       THE DOVER HOLDINGS, IN...          False
2   0                       THE DOVER HOLDINGS, IN...          False
3   0                       THE DOVER HOLDINGS, IN...           True
4   0                       THE DOVER HOLDINGS, IN...          False
5   0                       THE DOVER HOLDINGS, IN...           True
6   0                       THE DOVER HOLDINGS, IN...          False
7   0                       THE DOVER HOLDINGS, IN...          False
8   0                       THE DOVER HOLDINGS, IN...           True
9   0                       THE DOVER HOLDINGS, IN...           True
10  0                       THE DOVER HOLDINGS, IN...           True
11  0                       THE DOVER HOLDINGS, IN...          False
12  0                       THE DOVER HOLDINGS, IN...          False
13  0                       THE DOVER HOLDINGS, IN...          False
14  0                       THE DOVER HOLDINGS, IN...          False
15  0                       THE DOVER HOLDINGS, IN...          False
16  0                       THE DOVER HOLDINGS, IN...          False
17  0                       THE DOVER HOLDINGS, IN...           True
18  0                       THE DOVER HOLDINGS, IN...          False
19  0                       THE DOVER HOLDINGS, IN...          False
20  0                       THE DOVER HOLDINGS, IN...          False
21  0                       THE DOVER HOLDINGS, IN...           True
22  0                       THE DOVER HOLDINGS, IN...           True
23  0                       THE DOVER HOLDINGS, IN...          False
24  0                       THE DOVER HOLDINGS, IN...          False
25  0                       THE DOVER HOLDINGS, IN...          False
26  0                       THE DOVER HOLDINGS, IN...          False
27  0                       THE DOVER HOLDINGS, IN...           True
28  0                       THE DOVER HOLDINGS, IN...           True
29  0                       THE DOVER HOLDINGS, IN...           True